*{border: none;list-style: none;margin: 0 auto;padding: 0;text-decoration: none;}

html, body{
    height: 100%;
}
body{
    background: $White;
    display: block;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

p, a, li, span, h1, h2, h3, h4, h5, h6, input, textarea, select{
	color: $Gray;
	font-family: $font;
}
p, a, li, span{
	font-size: 0.8em;
	font-weight: $regular;
	line-height:1.5em;
}
p a, li a, span a{
	font-size: 1em;
}
a{opacity: 0.75;}
a:hover, a.active{opacity:1;}

h1, h2, h3{
	font-weight: $light;
}
h4, h5, h6{
	font-weight: $bold;
}
h1{display: block;font-size: 0%;} /*Use it for the logo*/
h2{font-size: 2.8em;line-height:2.5em;border-bottom:1px solid $Smoke}
h3{font-size: 2em;line-height:2.2em;}
h4{font-size: 2em;line-height:2.2em;}
h5{font-size: 1.5em;line-height:2em;}
h6{font-size: 1.2em;font-style: italic;line-height:1.8em;}

input:focus, textarea:focus, select:focus {outline: 1px solid #e0e0e0;}

/*defaults*/
.container{
	width: 960px;
}
input, textarea{
	background: $White;
	border: none;
	display: block;
	font-style: italic;
	font-weight: $light;
	margin: 10px 0;
	padding: 8px 10px;
}
textarea{
	resize: none;
}
.btn{
	font-style: normal;
	font-weight: $bold;
	opacity: 1;
	width: auto;
	transition: all 200ms;
	&.black{
		background: $Gray;
		color: $White;
	}
	&.red{
		background: $Lipstick;
		color: $White;
	}
	&.white{
		background: $White;
		color: $Gray;
	}
	&.small{
		font-size: 1em;
	}
	&.mid{
		font-size: 1.5em;
		padding: 12px 15px;
	}
	&.big{
		font-size: 2em;
		font-style: italic;
		font-weight: $regular;
		line-height: 2em;
		padding: 16px 20px;
	}
	&:hover{
		background: $Purple;
		color: $White;
		cursor: pointer;
	}
}