#contact{
	background: $c4;
	min-height: calc(100% - 140px);
	div{
		h2{
			color: $White;
			border: none;
			text-align: center;
		}
		ul{
			text-align: center;
			li{
				display: inline-block;
			}
			&#visit-us{
				display: block;
				height: 28px;
				span{
					color: $White;
					display: inline-block;
					line-height: 28px;
					text-align: left;
					vertical-align: top;
				}
				.link-contact{
					height: 28px;
					margin: 0 6px;
					opacity: 0.5;
					width: 28px;
					transition: all 100ms;
					a{
						display: block;
						height: 100%;
						width: 100%;
					}
					&.github{
						background-image: url(../images/contact/github.png);
						background-image: url(../images/contact/github.svg), url(../images/contact/github.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					&.facebook{
						background-image: url(../images/contact/facebook.png);
						background-image: url(../images/contact/facebook.svg), url(../images/contact/facebook.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					&.twitter{
						background-image: url(../images/contact/twitter.png);
						background-image: url(../images/contact/twitter.svg), url(../images/contact/twitter.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					&:hover{
						opacity: 1;
					}
				}
			}
			&#products{
				.logo-contact{
					height: 100px;
					margin: 20px;
					opacity: 0.25;
					width: 100px;
					transition: all 100ms;
					a{
						display: block;
						height: 100%;
						width: 100%;
					}
					&.ecobox{
						background-image: url(../images/contact/ecobox.png);
						background-image: url(../images/contact/ecobox.svg), url(../images/contact/ecobox.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					&.crab{
						background-image: url(../images/contact/crab.png);
						background-image: url(../images/contact/crab.svg), url(../images/contact/crab.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					&.crabster{
						background-image: url(../images/contact/crabster.png);
						background-image: url(../images/contact/crabster.svg), url(../images/contact/crabster.png);
						background-repeat: no-repeat;
						background-size: cover;
					}
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
		form{
			display: block;
			margin: 50px auto 80px auto;
			position: relative;
			width: 360px;
			input.box, textarea{
				width: 340px;
			}
			textarea{
				height: 80px;
			}
			input#send{
				position: absolute;
				right: 20px;
			}
		}
	}
}