header{
	background: $White;
	height: 40px;
	margin: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1000;
	#nav{
		margin: 0;
		li{
			display: inline-block;
			padding: 5px 10px;
			a{
				line-height: 40px;
				vertical-align: middle;
			}
		}
	}
}