#home{
	#logo{
		background-image: url(../images/logo_v2.png);
		background-image: url(../images/logo_v2.svg), url(../images/logo_v2.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 250px;
		width: 250px;
	}
}