input:focus, textarea:focus, select:focus {
	outline: 1px solid #e0e0e0;
}

input, textarea{
	background: $White;
	border: none;
	display: block;
	font-style: italic;
	font-weight: $light;
	margin: 10px 0;
	padding: 8px 10px;
}

textarea{
	resize: none;
}